# fastapi
# uvicorn[standard]
# pymupdf
# python-multipart
# camelot-py[cv]
# opencv-python
# ghostscript
# pytesseract
# Pillow
# paddleocr
# pdf2image
grpcio
grpcio-tools

requests

pymupdf
python-docx

pydantic
pymupdf
python-docx